
<!DOCTYPE html>

<html>
	
  
   <head>
     <link rel="stylesheet" href="styles.css">
     <title> Freedom Board </title>
   </head><br>
   
  <body background="bg.jpg">
     <div align = "center" class="w3-container">
	  
       <div class="w3-card-4" style="width:45%;">
         <header class="w3-container w3-blue">
           <h1><b>FREEDOM BOARD</b></h1>
         </header>
	    
		
		<form action = "/" method = "post">
         <div class="w3-container w3-blue-grey">
         <p><textarea onfocus = "clearContents(this);" id = "messageArea" name = "message_area" rows = "5" cols = "50" class="w3-input w3-border w3-round" name="first" type="text" placeholder="Enter a message"></textarea></p></p>
         </div>
	  
         <footer  class="w3-container w3-blue">  
	       <div class = "textarea-container">
	         <p>
        	   <textarea name = "name_area" placeholder = "Anonymous"  rows = "1" id = "userArea" rows = "1" cols = "30" class = "w3-round"></textarea>
	           <button class="w3-tiny w3-button w3-blue-grey w3-round"align="center"> POST </button>
             </p>
	       </div>
         </footer>
		</form>
	   </div>
	 
  
       <header class="w3-card-4 w3-container w3-blue" style="width:45%;">
	
         <div class="w3-container">
           <p><textarea disabled id  = "displayArea" name = "disp" rows = "10" cols = "50" class="w3-input w3-border w3-round" name="first" type="text">
			<% @final = "" %>
			<%YAML.load_file("messages.yml").each do |x, y|%>
			<% @dates = "#{x} \n"%>
			<%  y.each do |x1,x2|%>
			<%if x1 == "" then x1 = "Anonymous" end%>
			<% @contents = "#{x1}: #{x2} \n\n" %>
			<% @full = @dates << @contents %>
			<%  end %>
			<% @final = @full << @final %>
			<% end %>
			<%= @final%>	
		
		   </textarea></p>
           <p align = "center">
	       <button onclick = "clearDisplay()"class="w3-tiny w3-button w3-blue-grey w3-round">CLEAR</button>
	       </p>
         </div>
       </header>
	    <p style="color:white;">Copyright &copy; 2018, Pards Duo. All Rights Reserved.</p>
     </div>  
	</body>
	<script>
	function myFunction() {
     var message = "\"" + document.getElementById("messageArea").value + "\" - ";
     var user = "" + document.getElementById("userArea").value;
     var newLine = "\n \n";
     if(message == "\"\" - "){
      return;
     }
     if(user == ""){
      user = "Anonymous";
     }

     document.getElementById("displayArea").value = getTime() + message + user + newLine + document.getElementById("disp
layArea").value;
    }

    function clearContents(element) {
     element.value = '';
    }

    function clearDisplay(){
     document.getElementById("displayArea").value = '';
    }

    function getTime(){
     var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "No
vember", "December"];

     var d = new Date();
     var currentDate = months[d.getMonth()] + " " + d.getDate() +", " + d.getFullYear();
     var hours = d.getHours();
     var minutes = d.getMinutes();
     var ampm = hours >= 12 ? 'PM' : 'AM';
     hours = hours % 12;
     hours = hours ? hours : 12; // the hour '0' should be '12'
     minutes = minutes < 10 ? '0'+minutes : minutes;

     var strTime = currentDate + " (" + hours + ':' + minutes + ' ' + ampm + ") \n";
     return strTime;
    }
   </script>

</html>

